<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>

<body>
<h2>User Info</h2>
<br>
<form th:method="POST" th:action="@{/}" th:object="${user}">
    <label for="name">Input Name</label>
    <input type="text" th:field = "*{name}" id="name">
    <br>
    <label for="surname">Input Surname</label>
    <input type="text" th:field = "*{surname}" id="surname">
    <br>
    <label for="name">Input Age</label>
    <input type="text" th:field = "*{age}" id="age">
    <br><br>
    <input type="submit" value="OK">
</form>
</body>

</html>